.box{
    position: fixed;
    width: 50%:
}

.box img{
    width: 100%;
    height: auto;
}

.header{
    color: white;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
}

.title{
    color: #fcc50f;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    font-size: 28px;
}

.box .btn {
    position: absolute;
    top: 66%;
    left: 50%;
    color: black;
    background-color: white;
    font-size: 14px;
    border: 1.5px solid black;
    padding: 10px 20px;
}
